In [1]:
import pandas as pd

In [210]:
df = pd.read_csv("C:/Users/saini/OneDrive/Desktop/final_dataset.csv")

In [211]:
df.shape

(33600, 23)

In [8]:
df2 = pd.read_excel("C:/Users/saini/OneDrive/Desktop/Ecomm.xlsx")

In [10]:
df2.shape

(24, 12)

In [212]:
df1.isnull().sum()

id                           0
Title                        0
Movie Link                   0
Year                         0
Duration                   221
MPA                       7976
Rating                     138
Votes                      138
budget                   21785
grossWorldWide           15378
gross_US_Canada          16029
opening_weekend_Gross    18077
directors                  359
writers                   1576
stars                      473
genres                     382
countries_origin           366
filming_locations         6729
production_companies      1378
Languages                  474
wins                         0
nominations                  0
oscars                       0
dtype: int64

In [213]:
df1.head()

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0
2,tt0073486,One Flew Over the Cuckoo's Nest,https://www.imdb.com/title/tt0073486,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,...,"['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']","['Jack Nicholson', 'Louise Fletcher', 'Michael...","['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']",['English'],0,15,0
3,tt0072890,Dog Day Afternoon,https://www.imdb.com/title/tt0072890,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,...,"['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']","['Al Pacino', 'John Cazale', 'Penelope Allen']","['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']",['English'],0,20,0
4,tt0073692,Shampoo,https://www.imdb.com/title/tt0073692,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,...,"['Robert Towne', 'Warren Beatty']","['Warren Beatty', 'Julie Christie', 'Goldie Ha...","['Satire', 'Comedy', 'Drama']",['United States'],"['2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...",['English'],0,11,0

In [214]:
df.columns

Index(['id', 'Title', 'Movie Link', 'Year', 'Duration', 'MPA', 'Rating',
       'Votes', 'budget', 'grossWorldWide', 'gross_US_Canada',
       'opening_weekend_Gross', 'directors', 'writers', 'stars', 'genres',
       'countries_origin', 'filming_locations', 'production_companies',
       'Languages', 'wins', 'nominations', 'oscars'],
      dtype='object')

In [215]:
df=df.drop(columns=['id','Title','Movie Link','writers','stars','filming_locations','production_companies'])

In [216]:
df.head()

,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,directors,genres,countries_origin,Languages,wins,nominations,oscars
0,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,266567580.0,7061513.0,['Steven Spielberg'],"['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],['English'],0,20,0
1,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,112892319.0,NaN,['Jim Sharman'],"['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']",['English'],0,4,0
2,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,108981275.0,NaN,['Milos Forman'],"['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['English'],0,15,0
3,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,50000000.0,NaN,['Sidney Lumet'],"['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],['English'],0,20,0
4,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,49407734.0,NaN,['Hal Ashby'],"['Satire', 'Comedy', 'Drama']",['United States'],['English'],0,11,0

In [217]:
df = df.drop(columns=['directors'])

In [218]:
df.head()

,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,genres,countries_origin,Languages,wins,nominations,oscars
0,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,266567580.0,7061513.0,"['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],['English'],0,20,0
1,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,112892319.0,NaN,"['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']",['English'],0,4,0
2,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,108981275.0,NaN,"['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['English'],0,15,0
3,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,50000000.0,NaN,"['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],['English'],0,20,0
4,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,49407734.0,NaN,"['Satire', 'Comedy', 'Drama']",['United States'],['English'],0,11,0

In [219]:
df.shape

(33600, 15)

In [220]:
df.isnull().sum()

Year                         0
Duration                   221
MPA                       7976
Rating                     138
Votes                      138
budget                   21785
grossWorldWide           15378
gross_US_Canada          16029
opening_weekend_Gross    18077
genres                     382
countries_origin           366
Languages                  474
wins                         0
nominations                  0
oscars                       0
dtype: int64

In [221]:
df = df.ffill()

In [222]:
df.isnull().sum()

Year                     0
Duration                 0
MPA                      0
Rating                   0
Votes                    0
budget                   0
grossWorldWide           0
gross_US_Canada          0
opening_weekend_Gross    0
genres                   0
countries_origin         0
Languages                0
wins                     0
nominations              0
oscars                   0
dtype: int64

In [223]:
df.head()

,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,genres,countries_origin,Languages,wins,nominations,oscars
0,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,266567580.0,7061513.0,"['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],['English'],0,20,0
1,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,112892319.0,7061513.0,"['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']",['English'],0,4,0
2,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,108981275.0,7061513.0,"['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['English'],0,15,0
3,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,50000000.0,7061513.0,"['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],['English'],0,20,0
4,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,49407734.0,7061513.0,"['Satire', 'Comedy', 'Drama']",['United States'],['English'],0,11,0

In [224]:
df["Duration"].ffill()

0         2h 4m
1        1h 40m
2        2h 13m
3         2h 5m
4        1h 50m
          ...
33595     2h 7m
33596    1h 25m
33597    1h 31m
33598    1h 30m
33599    1h 18m
Name: Duration, Length: 33600, dtype: object

In [225]:
df.head()

,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,genres,countries_origin,Languages,wins,nominations,oscars
0,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,266567580.0,7061513.0,"['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],['English'],0,20,0
1,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,112892319.0,7061513.0,"['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']",['English'],0,4,0
2,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,108981275.0,7061513.0,"['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['English'],0,15,0
3,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,50000000.0,7061513.0,"['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],['English'],0,20,0
4,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,49407734.0,7061513.0,"['Satire', 'Comedy', 'Drama']",['United States'],['English'],0,11,0

In [226]:
df["Year"].unique()

array([1975, 1977, 1966, 1970, 1982, 2020, 2012, 2017, 2011, 2013, 1969,
       1983, 1984, 2019, 2004, 2005, 1961, 2007, 1980, 2024, 1991, 1989,
       1990, 2010, 2002, 1978, 1963, 1967, 1987, 1995, 1962, 2022, 2006,
       1979, 2014, 1974, 1976, 1999, 1998, 1986, 2023, 2009, 1981, 2015,
       2021, 1968, 2016, 2001, 1985, 1996, 1973, 1964, 1965, 1972, 2008,
       2003, 1997, 1960, 1993, 2018, 2000, 1994, 1992, 1971, 1988])

In [227]:
len(df["Year"].unique())

65

In [228]:
df["MPA"].unique()

array(['PG', 'R', 'G', 'Not Rated', 'TV-MA', 'NC-17', 'Unrated', 'TV-14',
       'X', 'PG-13', 'Approved', 'TV-PG', '16+', 'TV-Y7-FV', 'GP', 'M',
       'M/PG', 'TV-G', '18+', 'TV-Y7', 'Passed', 'MA-17', '13+', 'TV-Y',
       'TV-13', 'K-A'], dtype=object)

In [229]:
len(df["MPA"].unique())

26

In [230]:
len(df["Duration"].unique())

230

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33600 entries, 0 to 33599
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   33600 non-null  int64
 1   Duration               33600 non-null  object
 2   MPA                    33600 non-null  object
 3   Rating                 33600 non-null  float64
 4   Votes                  33600 non-null  object
 5   budget                 33600 non-null  float64
 6   grossWorldWide         33600 non-null  float64
 7   gross_US_Canada        33600 non-null  float64
 8   opening_weekend_Gross  33600 non-null  float64
 9   genres                 33600 non-null  object
 10  countries_origin       33600 non-null  object
 11  Languages              33600 non-null  object
 12  wins                   33600 non-null  int64
 13  nominations            33600 non-null  int64
 14  oscars                 33600 non-null  int64
dtypes: float64(5), int64(4), object(6)
memory usage: 3.8+ MB

In [232]:
df.head()

,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,genres,countries_origin,Languages,wins,nominations,oscars
0,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,266567580.0,7061513.0,"['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],['English'],0,20,0
1,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,112892319.0,7061513.0,"['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']",['English'],0,4,0
2,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,108981275.0,7061513.0,"['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['English'],0,15,0
3,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,50000000.0,7061513.0,"['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],['English'],0,20,0
4,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,49407734.0,7061513.0,"['Satire', 'Comedy', 'Drama']",['United States'],['English'],0,11,0

In [233]:
df["Duration"].unique()

array(['2h 4m', '1h 40m', '2h 13m', '2h 5m', '1h 50m', '1h 53m', '2h 16m',
       '1h 51m', '1h 57m', '1h 58m', '1h 47m', '1h 25m', '1h 37m',
       '2h 1m', '2h 9m', '1h 59m', '1h 44m', '2h 40m', '1h 39m', '1h 31m',
       '1h 46m', '2h 6m', '1h 24m', '1h 55m', '1h 35m', '1h 49m',
       '1h 56m', '1h 48m', '1h 36m', '3h 5m', '1h 20m', '1h 29m',
       '1h 38m', '1h 28m', '2h 7m', '3h 22m', '1h 30m', '1h 27m',
       '1h 33m', '2h 22m', '1h 45m', '2h 42m', '2h 24m', '2h 20m',
       '1h 23m', '2h 54m', '1h 52m', '1h 42m', '2h', '2h 2m', '1h 34m',
       '1h 32m', '1h 15m', '2h 12m', '1h 43m', '2h 32m', '1h 41m',
       '1h 14m', '1h 26m', '2h 26m', '2h 15m', '2h 30m', '2h 10m',
       '1h 22m', '1h 16m', '1h 21m', '1h 13m', '53m', '1h 19m', '3h 50m',
       '2h 38m', '2h 25m', '2h 43m', '2h 50m', '2h 36m', '1h 1m',
       '1h 18m', '2h 39m', '2h 19m', '1h 7m', '2h 11m', '1h 54m',
       '1h 17m', '1h 9m', '2h 3m', '2h 33m', '2h 57m', '1h 3m', '2h 35m',
       '2h 23m', '1h 12m', '2h 18m', '2h 55m', '2h 8m', '2h 45m', '4h',
       '2h 17m', '1h 10m', '3h 4m', '1h 11m', '1h 6m', '1h 8m', '2h 49m',
       '2h 41m', '7h 22m', '1h 5m', '1h 2m', '2h 29m', '56m', '3h',
       '2h 46m', '3h 53m', '2h 48m', '3h 2m', '2h 21m', '3h 30m',
       '2h 58m', '3h 9m', '2h 14m', '2h 56m', '59m', '2h 53m', '1h',
       '48m', '2h 52m', '2h 28m', '55m', '50m', '2h 44m', '2h 34m', '47m',
       '2h 27m', '2h 51m', '3h 11m', '3h 8m', '3h 3m', '3h 40m', '3h 14m',
       '4h 15m', '2h 31m', '57m', '45m', '52m', '2h 37m', '2h 47m',
       '3h 58m', '3h 17m', '4h 11m', '3h 52m', '4h 12m', '3h 36m',
       '1h 4m', '3h 13m', '3h 1m', '3h 18m', '2h 59m', '3h 49m', '3h 7m',
       '49m', '51m', '4h 30m', '3h 12m', '3h 6m', '3h 10m', '54m', '46m',
       'PG-13', '3h 39m', '3h 33m', '3h 15m', '58m', '3h 21m', '3h 35m',
       '4h 47m', '3h 57m', '43m', '3h 34m', '5h 35m', '3h 19m', '5h 10m',
       '3h 55m', '4h 20m', '5h 20m', '25h', '5h 57m', '87h', '40m',
       '3h 47m', '3h 25m', '3h 27m', '3h 16m', '3h 20m', '3h 41m',
       '3h 44m', '48h', '5h 19m', '4h 6m', '5h 17m', '4h 4m', '4h 10m',
       '3h 26m', '3h 24m', 'PG', '5h 16m', '5h 23m', '4h 48m', '3h 37m',
       '4h 2m', '44m', '4h 44m', '9h 26m', '3h 59m', '8h 5m', '5h 21m',
       '6h 33m', '3h 54m', '4h 7m', '6h 38m', '6h 14m', 'TV-G', '3h 28m',
       '4h 14m', '4h 18m', 'X', '5h 25m', 'TV-14', '5h 45m', '7h 19m',
       '12h 56m', '3h 23m'], dtype=object)

In [234]:
df["Duration"].mode()

0    1h 30m
Name: Duration, dtype: object

In [235]:
df["Duration"][1].split()[1][-1]

'm'

In [236]:
def updateDuration(value):
    ar = value.split()
    if(len(ar)==2):
        if(ar[0][-1]=='h' and ar[1][-1]=='m'):
            return value
        else:
            df["Duration"].mode()[0]
    else:
        if(ar[0][-1]=='h'):
            return ar[0]+" 0m"
        elif(ar[0][-1]=='m'):
            return "0h "+ar[0]
        else:
            return df["Duration"].mode()[0]

In [237]:
df["Duration"] = df["Duration"].map(updateDuration)

In [238]:
df["Duration"].unique()

array(['2h 4m', '1h 40m', '2h 13m', '2h 5m', '1h 50m', '1h 53m', '2h 16m',
       '1h 51m', '1h 57m', '1h 58m', '1h 47m', '1h 25m', '1h 37m',
       '2h 1m', '2h 9m', '1h 59m', '1h 44m', '2h 40m', '1h 39m', '1h 31m',
       '1h 46m', '2h 6m', '1h 24m', '1h 55m', '1h 35m', '1h 49m',
       '1h 56m', '1h 48m', '1h 36m', '3h 5m', '1h 20m', '1h 29m',
       '1h 38m', '1h 28m', '2h 7m', '3h 22m', '1h 30m', '1h 27m',
       '1h 33m', '2h 22m', '1h 45m', '2h 42m', '2h 24m', '2h 20m',
       '1h 23m', '2h 54m', '1h 52m', '1h 42m', '2h 0m', '2h 2m', '1h 34m',
       '1h 32m', '1h 15m', '2h 12m', '1h 43m', '2h 32m', '1h 41m',
       '1h 14m', '1h 26m', '2h 26m', '2h 15m', '2h 30m', '2h 10m',
       '1h 22m', '1h 16m', '1h 21m', '1h 13m', '0h 53m', '1h 19m',
       '3h 50m', '2h 38m', '2h 25m', '2h 43m', '2h 50m', '2h 36m',
       '1h 1m', '1h 18m', '2h 39m', '2h 19m', '1h 7m', '2h 11m', '1h 54m',
       '1h 17m', '1h 9m', '2h 3m', '2h 33m', '2h 57m', '1h 3m', '2h 35m',
       '2h 23m', '1h 12m', '2h 18m', '2h 55m', '2h 8m', '2h 45m', '4h 0m',
       '2h 17m', '1h 10m', '3h 4m', '1h 11m', '1h 6m', '1h 8m', '2h 49m',
       '2h 41m', '7h 22m', '1h 5m', '1h 2m', '2h 29m', '0h 56m', '3h 0m',
       '2h 46m', '3h 53m', '2h 48m', '3h 2m', '2h 21m', '3h 30m',
       '2h 58m', '3h 9m', '2h 14m', '2h 56m', '0h 59m', '2h 53m', '1h 0m',
       '0h 48m', '2h 52m', '2h 28m', '0h 55m', '0h 50m', '2h 44m',
       '2h 34m', '0h 47m', '2h 27m', '2h 51m', '3h 11m', '3h 8m', '3h 3m',
       '3h 40m', '3h 14m', '4h 15m', '2h 31m', '0h 57m', '0h 45m',
       '0h 52m', '2h 37m', '2h 47m', '3h 58m', '3h 17m', '4h 11m',
       '3h 52m', '4h 12m', '3h 36m', '1h 4m', '3h 13m', '3h 1m', '3h 18m',
       '2h 59m', '3h 49m', '3h 7m', '0h 49m', '0h 51m', '4h 30m',
       '3h 12m', '3h 6m', '3h 10m', '0h 54m', '0h 46m', '3h 39m',
       '3h 33m', '3h 15m', '0h 58m', '3h 21m', '3h 35m', '4h 47m',
       '3h 57m', '0h 43m', '3h 34m', '5h 35m', '3h 19m', '5h 10m',
       '3h 55m', '4h 20m', '5h 20m', '25h 0m', '5h 57m', '87h 0m',
       '0h 40m', '3h 47m', '3h 25m', '3h 27m', '3h 16m', '3h 20m',
       '3h 41m', '3h 44m', '48h 0m', '5h 19m', '4h 6m', '5h 17m', '4h 4m',
       '4h 10m', '3h 26m', '3h 24m', '5h 16m', '5h 23m', '4h 48m',
       '3h 37m', '4h 2m', '0h 44m', '4h 44m', '9h 26m', '3h 59m', '8h 5m',
       '5h 21m', '6h 33m', '3h 54m', '4h 7m', '6h 38m', '6h 14m',
       '3h 28m', '4h 14m', '4h 18m', '5h 25m', '5h 45m', '7h 19m',
       '12h 56m', '3h 23m'], dtype=object)

In [239]:
df["Duration"].head()

0     2h 4m
1    1h 40m
2    2h 13m
3     2h 5m
4    1h 50m
Name: Duration, dtype: object

In [240]:
def convertTime(value):
    ar = value.split()
    for i in range(0,len(ar)):
        ar[i]=ar[i][0:len(ar[i])-1]
        if(len(ar[i])==1):
            ar[i]="0"+ar[i]
    return ar[0]+":"+ar[1]

In [241]:
df["Duration"] = df["Duration"].map(convertTime)

In [242]:
df["Duration"].unique()

array(['02:04', '01:40', '02:13', '02:05', '01:50', '01:53', '02:16',
       '01:51', '01:57', '01:58', '01:47', '01:25', '01:37', '02:01',
       '02:09', '01:59', '01:44', '02:40', '01:39', '01:31', '01:46',
       '02:06', '01:24', '01:55', '01:35', '01:49', '01:56', '01:48',
       '01:36', '03:05', '01:20', '01:29', '01:38', '01:28', '02:07',
       '03:22', '01:30', '01:27', '01:33', '02:22', '01:45', '02:42',
       '02:24', '02:20', '01:23', '02:54', '01:52', '01:42', '02:00',
       '02:02', '01:34', '01:32', '01:15', '02:12', '01:43', '02:32',
       '01:41', '01:14', '01:26', '02:26', '02:15', '02:30', '02:10',
       '01:22', '01:16', '01:21', '01:13', '00:53', '01:19', '03:50',
       '02:38', '02:25', '02:43', '02:50', '02:36', '01:01', '01:18',
       '02:39', '02:19', '01:07', '02:11', '01:54', '01:17', '01:09',
       '02:03', '02:33', '02:57', '01:03', '02:35', '02:23', '01:12',
       '02:18', '02:55', '02:08', '02:45', '04:00', '02:17', '01:10',
       '03:04', '01:11', '01:06', '01:08', '02:49', '02:41', '07:22',
       '01:05', '01:02', '02:29', '00:56', '03:00', '02:46', '03:53',
       '02:48', '03:02', '02:21', '03:30', '02:58', '03:09', '02:14',
       '02:56', '00:59', '02:53', '01:00', '00:48', '02:52', '02:28',
       '00:55', '00:50', '02:44', '02:34', '00:47', '02:27', '02:51',
       '03:11', '03:08', '03:03', '03:40', '03:14', '04:15', '02:31',
       '00:57', '00:45', '00:52', '02:37', '02:47', '03:58', '03:17',
       '04:11', '03:52', '04:12', '03:36', '01:04', '03:13', '03:01',
       '03:18', '02:59', '03:49', '03:07', '00:49', '00:51', '04:30',
       '03:12', '03:06', '03:10', '00:54', '00:46', '03:39', '03:33',
       '03:15', '00:58', '03:21', '03:35', '04:47', '03:57', '00:43',
       '03:34', '05:35', '03:19', '05:10', '03:55', '04:20', '05:20',
       '25:00', '05:57', '87:00', '00:40', '03:47', '03:25', '03:27',
       '03:16', '03:20', '03:41', '03:44', '48:00', '05:19', '04:06',
       '05:17', '04:04', '04:10', '03:26', '03:24', '05:16', '05:23',
       '04:48', '03:37', '04:02', '00:44', '04:44', '09:26', '03:59',
       '08:05', '05:21', '06:33', '03:54', '04:07', '06:38', '06:14',
       '03:28', '04:14', '04:18', '05:25', '05:45', '07:19', '12:56',
       '03:23'], dtype=object)

In [243]:
df["Duration"].head()

0    02:04
1    01:40
2    02:13
3    02:05
4    01:50
Name: Duration, dtype: object

In [244]:
df.head()

,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,genres,countries_origin,Languages,wins,nominations,oscars
0,1975,02:04,PG,8.1,683K,7000000.0,477220580.0,266567580.0,7061513.0,"['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],['English'],0,20,0
1,1975,01:40,R,7.4,173K,1200000.0,115798478.0,112892319.0,7061513.0,"['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']",['English'],0,4,0
2,1975,02:13,R,8.7,1.1M,3000000.0,109115366.0,108981275.0,7061513.0,"['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['English'],0,15,0
3,1975,02:05,R,8.0,279K,1800000.0,50002721.0,50000000.0,7061513.0,"['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],['English'],0,20,0
4,1975,01:50,R,6.4,15K,4000000.0,49407734.0,49407734.0,7061513.0,"['Satire', 'Comedy', 'Drama']",['United States'],['English'],0,11,0

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33600 entries, 0 to 33599
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   33600 non-null  int64
 1   Duration               33600 non-null  object
 2   MPA                    33600 non-null  object
 3   Rating                 33600 non-null  float64
 4   Votes                  33600 non-null  object
 5   budget                 33600 non-null  float64
 6   grossWorldWide         33600 non-null  float64
 7   gross_US_Canada        33600 non-null  float64
 8   opening_weekend_Gross  33600 non-null  float64
 9   genres                 33600 non-null  object
 10  countries_origin       33600 non-null  object
 11  Languages              33600 non-null  object
 12  wins                   33600 non-null  int64
 13  nominations            33600 non-null  int64
 14  oscars                 33600 non-null  int64
dtypes: float64(5), int64(4), object(6)
memory usage: 3.8+ MB

In [246]:
df["Votes"].head()

0    683K
1    173K
2    1.1M
3    279K
4     15K
Name: Votes, dtype: object

In [247]:
df["Votes"].unique()

array(['683K', '173K', '1.1M', ..., '901K', '557K', '977K'],
      shape=(1758,), dtype=object)

In [248]:
def transformVotes(value):
    if(value[-1]=='K'):
        return int(float(value[0:len(value)-1])*1000)
    elif(value[-1]=='M'):
        return int(float(value[0:len(value)-1])*1000000)
    else:
        return int(value)

In [249]:
df["Votes"] = df["Votes"].map(transformVotes)

In [250]:
df["Votes"].head()

0     683000
1     173000
2    1100000
3     279000
4      15000
Name: Votes, dtype: int64

In [251]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33600 entries, 0 to 33599
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   33600 non-null  int64
 1   Duration               33600 non-null  object
 2   MPA                    33600 non-null  object
 3   Rating                 33600 non-null  float64
 4   Votes                  33600 non-null  int64
 5   budget                 33600 non-null  float64
 6   grossWorldWide         33600 non-null  float64
 7   gross_US_Canada        33600 non-null  float64
 8   opening_weekend_Gross  33600 non-null  float64
 9   genres                 33600 non-null  object
 10  countries_origin       33600 non-null  object
 11  Languages              33600 non-null  object
 12  wins                   33600 non-null  int64
 13  nominations            33600 non-null  int64
 14  oscars                 33600 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 3.8+ MB

In [256]:
def findGenres(value):
    li = value.split("'")
    gen = []
    for x in li:
        if( (ord(x[0])>=65 and ord(x[0])<=90) or (ord(x[0])>=97 and ord(x[0])<=122) ):
            gen.append(x)
    return gen[-1]

In [260]:
df["genres"] = df["genres"].map(findGenres)

In [264]:
(df["genres"].unique())

array(['Thriller', 'Musical', 'Drama', 'Mystery', 'Romance', 'Western',
       'War', 'Sci-Fi', 'Music', 'Fantasy', 'History', 'Sport', 'Comedy',
       'Adventure', 'Horror', 'Crime', 'Family', 'Action', 'Documentary',
       'Biography', 'Animation', 'Holiday', 'Financial Drama',
       'Supernatural Horror', 'Psychological Drama', 'Period Drama',
       'Tragedy', 'Reality TV', 'Vampire Horror', 'Talk Show', 'Mecha',
       'Game Show', 'Psychological Thriller', 'Wuxia', 'Quirky Comedy',
       'Sci-Fi Epic'], dtype=object)

In [262]:
len(df["genres"].unique())

36