In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [3]:
url = "https://boxofficemojo.com/year"

In [4]:
res = requests.get(url)

In [5]:
res.status_code

200

In [6]:
content = res.content

In [8]:
content[:500]

b'<!doctype html><html class="a-no-js" data-19ax5a9jf="dingo"><head><script>var aPageStart = (new Date()).getTime();</script><meta charset="utf-8"/>\n<script type=\'text/javascript\'>var ue_t0=ue_t0||+new Date();</script>\n<script type=\'text/javascript\'>\nwindow.ue_ihb = (window.ue_ihb || window.ueinit || 0) + 1;\nif (window.ue_ihb === 1) {\n\nvar ue_csm = window,\n    ue_hob = +new Date();\n(function(d){var e=d.ue=d.ue||{},f=Date.now||function(){return+new Date};e.d=function(b){return f()-(b?0:d.ue_t0)};e.'

In [9]:
data = BeautifulSoup(content,'html.parser')

In [23]:
data.find('table').find_all('tr')[1].find_all('td')

[<td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-year mojo-sort-column"><a class="a-link-normal" href="/year/2025/?ref_=bo_yl_table_1">2025</a></td>,
 <td class="a-text-right mojo-field-type-money">$1,238,623,992</td>,
 <td class="a-text-right mojo-field-type-percent_delta">-</td>,
 <td class="a-text-right mojo-field-type-positive_integer">187</td>,
 <td class="a-text-right mojo-field-type-money">$6,623,657</td>,
 <td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl2597421825/?ref_=bo_yl_table_1">Captain America: Brave New World</a></td>]

In [37]:
year = []
link = []
gross = []
ly = []
totalrelease = []
average = []
topmovie = []

In [38]:
# Scraping Top Movies of the Year
for row in data.find('table').find_all('tr')[1:]:
    year.append(row.find_all('td')[0].text)
    link.append("https://boxofficemojo.com"+row.find_all('td')[0].find('a')['href'])
    gross.append(row.find_all('td')[1].text)
    ly.append(row.find_all('td')[2].text)
    totalrelease.append(row.find_all('td')[3].text)
    average.append(row.find_all('td')[4].text)
    topmovie.append(row.find_all('td')[5].text)

In [41]:
ds = {
    'Year':year,
    'All_Movies_Link_By_Year':link,
    'Total_Gross_Amount':gross,
    'LY_By_Year':ly,
    'Total_Movies_Release':totalrelease,
    'Average_Amount':average,
    'Best_Movie_Of_The_Year':topmovie
}

In [42]:
df1 = pd.DataFrame(ds)

In [43]:
df1.shape

(49, 7)

In [45]:
df1.head(3)

,Year,All_Movies_Link_By_Year,Total_Gross_Amount,LY_By_Year,Total_Movies_Release,Average_Amount,Best_Movie_Of_The_Year
0,2025,https://boxofficemojo.com/year/2025/?ref_=bo_y...,"$1,238,623,992",-,187,"$6,623,657",Captain America: Brave New World
1,2024,https://boxofficemojo.com/year/2024/?ref_=bo_y...,"$8,570,012,657",-3.8%,675,"$12,696,315",Inside Out 2
2,2023,https://boxofficemojo.com/year/2023/?ref_=bo_y...,"$8,907,111,984",+20.9%,592,"$15,045,797",Barbie

In [47]:
df1['All_Movies_Link_By_Year'][0:3]

0    https://boxofficemojo.com/year/2025/?ref_=bo_y...
1    https://boxofficemojo.com/year/2024/?ref_=bo_y...
2    https://boxofficemojo.com/year/2023/?ref_=bo_y...
Name: All_Movies_Link_By_Year, dtype: object

In [77]:
year = []
moviename = []
gross = []
theater = []
totalgross = []
releasedate = []
distributor = []

In [78]:
for u in df1['All_Movies_Link_By_Year']:
    url = u
    con = requests.get(url)
    dt = BeautifulSoup(con.content,'html.parser')
    for row in dt.find('table').find_all('tr')[1:]:
        moviename.append(row.find_all('td')[1].text)
        gross.append(row.find_all('td')[5].text)
        theater.append(row.find_all('td')[6].text)
        totalgross.append(row.find_all('td')[7].text)
        releasedate.append(row.find_all('td')[8].text)
        distributor.append(row.find_all('td')[9].text)

In [82]:
ds = {
    'Movie_Name':moviename,
    'Gross':gross,
    'Theater':theater,
    'Total_Gross':totalgross,
    'Release_Date':releasedate,
    'Distributor':distributor
}

In [83]:
df2 = pd.DataFrame(ds)

In [84]:
df2.shape

(8814, 6)

In [85]:
df2.head()

,Movie_Name,Gross,Theater,Total_Gross,Release_Date,Distributor
0,Captain America: Brave New World,"$188,017,391","4,105","$188,017,391",Feb 14,Walt Disney Studios Motion Pictures\n\n
1,Mufasa: The Lion King,"$124,956,898","4,100","$253,100,843",Dec 20,Walt Disney Studios Motion Pictures\n\n
2,Dog Man,"$94,130,545","3,887","$94,130,545",Jan 31,DreamWorks Distribution\n\n
3,Sonic the Hedgehog 3,"$84,483,259","3,769","$236,042,153",Dec 20,Paramount Pictures\n\n
4,Moana 2,"$56,290,767","4,200","$460,308,256",Nov 27,Walt Disney Studios Motion Pictures\n\n

In [86]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8814 entries, 0 to 8813
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie_Name    8814 non-null   object
 1   Gross         8814 non-null   object
 2   Theater       8814 non-null   object
 3   Total_Gross   8814 non-null   object
 4   Release_Date  8814 non-null   object
 5   Distributor   8814 non-null   object
dtypes: object(6)
memory usage: 413.3+ KB

In [87]:
df2.isnull().sum()

Movie_Name      0
Gross           0
Theater         0
Total_Gross     0
Release_Date    0
Distributor     0
dtype: int64