In [174]:
import pandas as pd
import requests as r
from bs4 import BeautifulSoup as bs

In [175]:
url = "https://boxofficemojo.com/year"

In [176]:
res = r.get(url)

In [177]:
res.status_code

200

In [178]:
content = res.text

In [179]:
content[:500]

'<!doctype html><html class="a-no-js" data-19ax5a9jf="dingo"><head><script>var aPageStart = (new Date()).getTime();</script><meta charset="utf-8"/>\n<script type=\'text/javascript\'>var ue_t0=ue_t0||+new Date();</script>\n<script type=\'text/javascript\'>\nwindow.ue_ihb = (window.ue_ihb || window.ueinit || 0) + 1;\nif (window.ue_ihb === 1) {\n\nvar ue_csm = window,\n    ue_hob = +new Date();\n(function(d){var e=d.ue=d.ue||{},f=Date.now||function(){return+new Date};e.d=function(b){return f()-(b?0:d.ue_t0)};e.'

In [180]:
soup = bs(content,"html.parser")

In [181]:
len(soup)

2

In [182]:
year = []
best_movie = []
link = []

In [183]:
for tr in soup.find('table').find_all('tr')[1:]:
    y = tr.find_all('td')[0].text
    year.append(y)
    link.append("https://boxofficemojo.com/year/"+y)
    best_movie.append(tr.find_all('td')[5].text)

In [184]:
len(year) , len(best_movie) , len(link)

(49, 49, 49)

In [185]:
ds = {
    'Movie_Year':year,
    'Best_Movie_Name':best_movie,
    'All_Movies_Link':link
}

In [186]:
df1 = pd.DataFrame(ds,index=None)

In [187]:
df1.head()

  Movie_Year          Best_Movie_Name                      All_Movies_Link
0       2025        A Minecraft Movie  https://boxofficemojo.com/year/2025
1       2024             Inside Out 2  https://boxofficemojo.com/year/2024
2       2023                   Barbie  https://boxofficemojo.com/year/2023
3       2022        Top Gun: Maverick  https://boxofficemojo.com/year/2022
4       2021  Spider-Man: No Way Home  https://boxofficemojo.com/year/2021

In [188]:
df1.shape

(49, 3)

In [189]:
df1['All_Movies_Link'].head()

0    https://boxofficemojo.com/year/2025
1    https://boxofficemojo.com/year/2024
2    https://boxofficemojo.com/year/2023
3    https://boxofficemojo.com/year/2022
4    https://boxofficemojo.com/year/2021
Name: All_Movies_Link, dtype: object

In [190]:
movie_name = []
gross = []
theater = []
total_gross = []
release = []
dist = []

In [191]:
i = 0
for url in df1['All_Movies_Link']:
    soup = bs(r.get(url).text,"html.parser")
    for tr in soup.find('table').find_all('tr')[1:]:
        movie_name.append(tr.find_all('td')[1].text)
        gross.append(tr.find_all('td')[5].text)
        theater.append(tr.find_all('td')[6].text)
        total_gross.append(tr.find_all('td')[7].text)
        release.append(tr.find_all('td')[8].text+" "+df1['Movie_Year'][i])
        dist.append(tr.find_all('td')[9].text.strip())
    i = i+1

In [192]:
ds = {
    "Movie_Name":movie_name,
"Gross_Amount":gross,
"Number_of_Theater":theater,
"Total_Gross_Amount":total_gross,
"Release_Date":release,
"Producers":dist
}

In [193]:
df2 = pd.DataFrame(ds,index=None)

In [194]:
df2.shape

(8827, 6)

In [195]:
df2

,Movie_Name,Gross_Amount,Number_of_Theater,Total_Gross_Amount,Release_Date,Producers
0,A Minecraft Movie,"$303,326,515","4,289","$303,326,515",Apr 4 2025,Warner Bros.
1,Captain America: Brave New World,"$200,045,644","4,105","$200,045,644",Feb 14 2025,Walt Disney Studios Motion Pictures
2,Mufasa: The Lion King,"$126,423,748","4,100","$254,567,693",Dec 20 2025,Walt Disney Studios Motion Pictures
3,Dog Man,"$97,970,355","3,887","$97,970,355",Jan 31 2025,DreamWorks Distribution
4,Sonic the Hedgehog 3,"$84,556,206","3,769","$236,115,100",Dec 20 2025,Paramount Pictures
...,...,...,...,...,...,...
8822,Exorcist II: The Heretic,"$30,749,142",703,"$30,749,142",Jun 17 1977,Warner Bros.
8823,The Turning Point,"$25,815,410",5,"$25,933,445",Nov 14 1977,Twentieth Century Fox
8824,Looking for Mr. Goodbar,"$22,512,655",110,"$22,512,655",Oct 19 1977,Paramount Pictures
8825,Saturday Night Fever,"$18,234,852",726,"$94,213,184",Dec 16 1977,Paramount Pictures
8826,Close Encounters of the Third Kind,"$16,172,445",650,"$116,395,460",Nov 16 1977,Columbia Pictures

In [198]:
df2.to_csv('Movies_details.csv',index=None)